@import "base/normalize";
@import "utils/variables";
@import "utils/mixins";
@import "base/base";
@import "base/typography";
@import "components/header";
@import "components/banner";
@import "components/footer";
@import "components/card";
@import "components/dropdown";
@import "components/gallery";
@import "pages/home";
@import "pages/details";
@import "pages/notfound";
@import "pages/about"