.arrow img {
    @media (max-width: $breakpoint) {
        width: 60%;
    }
}

.arrow-up {
    transform: rotate(180deg);
  }
  
  .arrow-down {
    transform: rotate(0deg);
  }

.dropdown-box {
    &_header {
        background-color: $color-main;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $color-light;
        padding: 0 4%;
        border-radius: 5px;
        z-index: 2;
        cursor: pointer;
        @media (max-width: $breakpoint) {
            font-size: 13px;
        }
    }
    &_content {
        padding: 1% 4%;
        background-color: $color-boxes;
        position: relative;
        top: -10px;
        z-index: 1;
    }
}

.about .dropdown-box {
    margin: 30px 100px;
    @media (max-width: $breakpoint) {
        margin: 20px 0;
    }
    &_header {
        height: 47px;
        position: relative;
        @media (max-width: $breakpoint) {
            height: 30px;
        }
    }
    &_title {
        font-weight: $weight-medium;
        font-size: 24px;
        @media (max-width: $breakpoint) {
            font-size: 13px;
        }
    }
    &_content {
        z-index: 1;
        p {
            font-weight: $weight-regular;
            font-size: 24px;
            @media (max-width: $breakpoint) {
                font-size: 12px;
            }
    }
    }
     
}

.details .dropdown-box {
    margin: 30px 0;
    width: 47%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    @media (max-width: $breakpoint) {
        margin: 20px 0;
        width: 100%;
    }
    &_header {
        height: 52px;
        @media (max-width: $breakpoint) {
            height: 30px;
        }
    }
    &_title {
        font-weight: $weight-medium;
        font-size: 18px;
        @media (max-width: $breakpoint) {
            font-size: 13px;
        }
    }
    &_content {
        height: 100%;
        border-radius: 10px;
        @media (max-width: $breakpoint) {
            border-radius: 5px;
        }
        p, ul, li {
            font-weight: $weight-regular;
            list-style-type: none;
            padding-left: 0;
            font-size: 18px;
            @media (max-width: $breakpoint) {
                font-size: 12px;
            }
        }
    }
    
    
}