.arrow img {
    @media (max-width: $breakpoint) {
        width: 60%;
    }
}

.arrow-up {
    transform: rotate(180deg);
  }
  
  .arrow-down {
    transform: rotate(0deg);
  }

.dropdown-box {
    &_header {
        background-color: $color-main;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $color-light;
        padding: 0 4%;
        border-radius: 5px;
        cursor: pointer;
        @media (max-width: $breakpoint) {
            font-size: 13pt;
        }
    }
    &_content {
        padding: 1% 4%;
        background-color: $color-boxes;
    }
}

.about .dropdown-box {
    margin: 30px 100px;
    @media (max-width: $breakpoint) {
        margin: 20px 0;
    }
    &_header {
        height: 47px;
        @media (max-width: $breakpoint) {
            height: 30px;
        }
    }
    &_title {
        font-weight: $weight-medium;
        font-size: 24pt;
        @media (max-width: $breakpoint) {
            font-size: 13pt;
        }
    }
    &_content p {
            font-weight: $weight-regular;
            font-size: 24pt;
            @media (max-width: $breakpoint) {
                font-size: 12pt;
            }
    }
}

.details .dropdown-box {
    margin: 30px 0;
    width: 47%;
    @media (max-width: $breakpoint) {
        margin: 20px 0;
        width: 100%;
    }
    &_header {
        height: 52px;
        @media (max-width: $breakpoint) {
            height: 30px;
        }
    }
    &_title {
        font-weight: $weight-medium;
        font-size: large;
    }
    &_content p, ul, li {
            font-weight: $weight-regular;
            font-size: large;
            list-style-type: none;
            padding-left: 0;
    }
}