footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: $color-light;
    padding-top: 50px;
    margin-top: 15%;
    @media (max-width: 768px) {
     padding: 45px;   
    }
    img {
        filter: brightness(3);
        max-height: 39.44px;
    }
}