footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: $color-light;
    padding-top: 50px;
    font-size: 24pt;
    @media (max-width: $breakpoint) {
        padding: 45px;   
        font-size: 12pt;
    }
    img {
        filter: brightness(3);
        max-height: 39.44px;
    }
}