.gallery {
    width: 100%;
    height: 415px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    @media (max-width: $breakpoint) {
        height: 255px;
        width: 100%;
        border-radius: 10px;
    }
    &_nav {
        z-index: 10;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-left {
            position: absolute;
            left: 2%;
            img {
                @media (max-width: $breakpoint) {
                    width: 50%;
                }
            }
        }
        &-right {
            position: absolute;
            right: 2%;
            img {
                @media (max-width: $breakpoint) {
                    width: 50%;
                }
            }
            
        }
    }
    &_image {
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;
        object-fit: cover;
        img {
            width: 100%;
            height: 100%;
        }
    }
    &_counter {
        position: absolute;
        bottom: 7%;
        right: 50%;
        left: 50%;
        color: $color-light;
        @media (max-width: $breakpoint) {
            display: none;
        }
    }
}