header {
    width: 100%;
    margin: 2% 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    img {
        max-height: 68px;
        @media (max-width: $breakpoint) {
            height: 47px;
        }
    }
}

nav {
    display: flex;
    justify-content: space-between;
    a {
        margin-left: 64px;
        @media (max-width: $breakpoint) {
            text-transform: uppercase;
            margin-left: 15px;
        }
    }
    a:hover {
        text-decoration: underline;
    }
}