.star {
    color: $color-stars;
    font-size: 30px;
    margin: 5px;
    @media (max-width: $breakpoint) {
        font-size: 20px;
        margin: 2px;
    }
  }
  
  .filled {
    color: $color-main;
  }
  