.tags {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.tag {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    height: 25px;
    min-width: 115px;
    background-color: $color-main;
    border-radius: 10px;
    color: $color-light;
    font-size: 14px;
    margin-right: 10px;
    padding: 5px 20px;
    
    @media (max-width: $breakpoint) {
        font-size: 10px;
        height: 18px;
        margin-bottom: 2px;
        min-width: 84px;
        border-radius: 5px;
    }
}