body {
    font-family: 'Montserrat', sans-serif;
    font-weight: $weight-medium;
    background-color: $color-light;
    color: $color-main;
    line-height: 142.6%;
    font-size: 18pt;
    @media (max-width: $breakpoint) {
        line-height: normal;
        font-size: 12pt;
    }
}

nav > a {
    text-decoration: none;
    color: unset;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: $weight-medium;
    font-size: 2.4em;
    display: flex;
    flex-wrap: wrap;
    @media (max-width: $breakpoint) {
        font-size: 2.3em;
    }
}



/* Notes de travail
medium : 500
regular : 400
bold : 700

24 --> 12 *

48 --> 24 *

18 *

header desktop :  24 ff6060
soulignement avec hover
    M : --> 12 majuscule

banner desktop : "Chez vous, partout et ailleurs"
  48 #FFFFFF
    M : --> 24

thumb - titre de la location (D & M):   18 ffffff

fiche logement D :
    carroussel "1/4" :   18 ffffff
    title h1 :   36 ff6060
    localisation :   18 ff6060
    tag :   14 ffffff
    title dropdown :   18 ffffff
    content dropdown :   18 ff6060
    host :   18 ff6060

fiche logement M :
    title h1 : --> 18
    localisation : --> 14
    tag : --> 10
    title dropdown : --> 13
    content dropdown : --> 12
    host : --> 12

erreur 404 D :
    404 :  Bold 288 ff6060
    oups :  36  ff6060
    retourner :   18 soulignement ff6060

erreur 404 M :
    404 : --> 96
    oups : --> 18
    retourner : --> 14

about D :
    dropdown title :  24  ffffff
    content :  regular 24 ff6060

about M : 
    title : --> 13
    content : --> 12

footer D :
    droits :   24 ffffff

footer M : --> 12
*/