.cardContainer {
    background-color: $color-boxes;
    padding: 25px;
    border-radius: 25px;
    margin: 42px 0 42px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    @media (max-width: 768px) {
        background-color: unset;
        padding: 0;
        border-radius: 0;
        margin: 20px 0 20px 0;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}