$carrousel-height: 415px;
$carrousel-height-mobile: 255px;

$radius-background-desktop: 25px;
$radius-background-mobile: 10px;

//Palette de couleurs
$color-main: #ff6060;
$color-light: #FFFFFF;
$color-boxes: #F6F6F6;
$color-footer: #000000;