$carrousel-height: 415px;
$carrousel-height-mobile: 255px;

$radius-background-desktop: 25px;
$radius-background-mobile: 10px;

//Palette de couleurs
$color-main: #ff6060;
$color-light: #FFFFFF;
$color-boxes: #F6F6F6;
$color-footer: #000000;
$color-stars: #e3e3e3;

//Graisse de police
$weight-medium : 500;
$weight-regular: 400;
$weight-bold: 700;

//breakpoint
$breakpoint: 940px;